.section {
  justify-content: center;
}

.card {
  width: 200px;
  height: 400px;
  margin-right: 30px;
  margin-bottom: 20px;

  font-size: 14px;
}

.input {
  width: 300px;
}

footer {
  margin-top: 200px;
}

@media screen {
  
}

#recipeBtn {

}