.section {
  justify-content: center;
}

.card {
  width: 220px;
  height: 410px;
  margin-right: 30px;
  margin-bottom: 20px;

  font-size: 14px;
}

#searchbar{
  display: block;
  text-align: center;
}

#search-title {
  margin-bottom: 10px;
}

.input {
  width: 300px;
}

footer {
  margin-top: 200px;
}

#food-pic {
  margin-top: 20px;
}

body {
  background-color: rgba(20, 17, 17, 0.94);
}

#body-image{

}